<!DOCTYPE html>

<html>
  <head>
    <style>
            ul {
                text-align: center;
                list-style-type: none;
            }
        </style>
  </head>
  <body>
    <div th:fragment="footer">
      
        <div id="byViews" style="position: fixed;left:0;bottom:0">
        <label>Five most popular!</label><br/>
        <ul>
            <li th:each="anewByViews : ${newsByViews}">
                <a href="#" th:href="@{/news/{id}(id=${anewByViews.id})}" >
                    <span th:text="${anewByViews.header}">Otsikko</span>
                    <img th:src="@{/news/{id}/photo(id=${anewByViews.id})}" alt="No photo :(" width="60"/>
                </a>
            </li>
        </ul>
        </div>
        <div id="byDate" style="position: fixed;right:0;bottom:0">
        <label>Five newest!</label><br/>
        <ul>
            <li th:each="anewByDate : ${newsByDate}">
                <a href="#" th:href="@{/news/{id}(id=${anewByDate.id})}" >
                    <span th:text="${anewByDate.header}">Otsikko</span>
                    <img th:src="@{/news/{id}/photo(id=${anewByDate.id})}" alt="No photo :(" width="60"/>
                </a>
            </li>
        </ul>
        </div>
    </div>
  </body>
</html>