<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">NEWs</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" th:href="@{/}">Home</a>
                        </li>
                        <li th:each="category:${categories}">
                            <a href="#" th:href="@{/categories/{name}(name=${category.name})}" th:text="${category.name}">Category</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/moderate}">Moderate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>