<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>


        <meta charset="UTF-8" />
        <title>Article</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <br/>
        <br/>
        <br/>
        <br/>

        <h2 th:text="${anew.header}"></h2>

        <div>
            <label>Header:</label>
            <span  th:text="${anew.header}">Header</span>
            <br/>
            <label>Writers:</label>
            <ul>
                <li th:each="writer:${anew.writers}" th:text="${writer.name}">Writers</li>
            </ul>
            <br/>
            <label>Categories:</label>
            <ul>
                <li th:each="category:${anew.categories}" th:text="${category.name}">Categories</li>
            </ul>
            <br/>
            <label>Lead:</label>
            <span  th:text="${anew.lead}">Lead</span>
            <br/>
            <label>Photos:</label>
            <img th:src="@{/news/{id}/photo(id=${anew.id})}" width="400"/>
            <br/>
            <label>Article text</label>
            <span  th:text="${anew.text}">text</span>
            <br/>
            <label>Published:</label>
            <span th:text="${anew.pDate}">Publishing date</span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>

        <div th:replace="fragments/footer :: footer">
        </div>

    </body>

</html>
