<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>


        <meta charset="UTF-8" />
        <title>News</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body style="margin-left: 450px">
        <div th:replace="fragments/header :: header"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div th:if="${messages}">
            <ul>
                <li th:each="message:${messages}" th:text="${message}"/>
            </ul>
        </div>

        <h2>Welcome to this new newsite featuring old news</h2>

        <h2>Newest news!</h2>

        <div>
            <ol>
                <li th:each="anew:${news}">
                    <label>Header:</label>
                    <a href="#" th:href="@{/news/{id}(id=${anew.id})}" th:text="${anew.header}">Header</a>
                    <br/>
                    <label>Lead:</label>
                    <span  th:text="${anew.lead}">Lead</span>
                    <br/>
                    <label>Photos:</label>
                    <img th:src="@{/news/{id}/photo(id=${anew.id})}" width="200"/>
                    <br/>
                    <label>Published:</label>
                    <span th:text="${anew.pDate}">Publishing date</span>

                </li>

            </ol>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <div th:replace="fragments/footer :: footer">
        </div>

    </body>

</html>
