<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8" />
        <title>News</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <br/>
        <br/>
        <br/>
        <br/>

        <form th:action="@{/news/{title}/listByDate(title=${title})}" method="get">
            <input type="submit" value="List 5 newest news in this category"/>
        </form>

        <form th:action="@{/news/{title}/listByViews(title=${title})}" method="get">
            <input type="submit" value="List 5 most viewed in this category"/>
        </form>

        <form th:action="@{/categories/{name}(name=${title})}" method="get">
            <input type="submit" value="List all in this category"/>
        </form>


        <h2>News articles in <span th:text="${title}"></span></h2>

        <div>
            <ul>
                <li th:each="anew:${news}">
                    <label>Header:</label>
                    <a href="#" th:href="@{/news/{id}(id=${anew.id})}" th:text="${anew.header}">Header</a>
                    <br/>
                    <!--                    <label>Writers:</label>
                                        <ul>
                                            <li th:each="writer:${anew.writers}" th:text="${writer.name}"></li>
                                        </ul>
                                        <br/>
                                        <label>Categories:</label>
                                        <ul>
                                            <li th:each="category:${anew.categories}" th:text="${category.name}"></li>
                                        </ul>
                                        <br/>
                                        <label>Lead:</label>
                                        <span  th:text="${anew.lead}">Lead</span>
                                        <br/>
                                        <label>Photos:</label>
                                        <img th:src="@{/news/{id}/photo(id=${anew.id})}" width="400"/>
                                        <br/>
                                        <label>Article text</label>
                                        <span  th:text="${anew.text}">text</span>
                                        <br/>-->
                    <label>Published:</label>
                    <span th:text="${anew.pDate}">Publishing date</span>

                </li>

            </ul>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

        <div th:replace="fragments/footer :: footer">
        </div>

    </body>

</html>