<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Writers</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <br/>
        <br/>
        <br/>
        <br/>

        <h2>Writers</h2>

        <div>
            <ul>
                <li th:each="writer:${writers}" th:text="${writer.name}"></li>
            </ul>
        </div>


        <h2>Add new</h2>

        <form method="POST" th:action="@{/writers}">
            <input type="text" name="name"/>
            <input type="submit" value="Add"/>
        </form>

    </body>

</html>
